<head>
  <link href="https://gmpg.org/xfn/11" rel="profile">
  <meta charset="utf-8">

  {# Enable responsiveness on mobile devices #}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title %}
      {% if page.title == "Home" %}
        {{ config.title }} &middot; Home
      {% else %}
        {{ page.title }} &middot; {{ config.title }}
      {% endif %}
    {% elif section.title %}
      {{ section.title }} &middot; {{ config.title }}
    {% else %}
      {{ config.title }}
    {% endif %}
  </title>

  {# CSS #}
  <link rel="stylesheet" href="{{ config.base_url | safe }}/main.css">

  {# Icons #}
  <link rel="icon" sizes="32x32" href="{{ config.base_url | safe }}/favicon.png">
  <link rel="icon" sizes="512x512" href="{{ config.base_url | safe }}/favicon512.png">
  <link rel="apple-touch-icon" sizes="192x192" href="{{ config.base_url | safe }}/apple-touch-icon.png">

  {# RSS #}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">

  {# extra meta tags #}
  {# Let the browser know the canonical url of the page #}
  {% if page.permakink %}
    <link rel="bookmark" href="{{ page.permalink | safe }}" />
  {% endif %}
  {# some browsers change color based on this #}
  {% if config.extra.color %}
    <meta name="theme-color" content="{{ config.extra.color }}">
  {% endif %}
  {% if page.extra.tags %}
    <meta name="keywords" content="{{ page.extra.tags | join(sep=', ') | escape }}"/>
  {% endif %}
  <meta name="description" content="{% if page.summary %}{{ page.summary | safe | striptags | replace(from="\n", to=" ") | truncate(length=160) }}{% else %}{{ config.description }}{% endif %}">
  <meta property="og:image" content="{% if page.extra.image %}{{ page.extra.image | safe }}{% else %}{{ config.base_url | safe }}public/favicon.png{% endif %}">

  {# TODO deduplicate this mess #}
  {# Yes, the following is a public comment #}
  <!-- And here's a bunch of garbage redundant tags just because twitter can't even use the standard ones -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@fgaz_" />
  <meta name="twitter:description" content="{% if page.summary %}{{ page.summary | safe | striptags | replace(from="\n", to=" ") | truncate(length=160) }}{% else %}{{ config.description }}{% endif %}" />
  <meta name="twitter:image:src" content="{% if page.extra.image %}{{ page.extra.image | safe }}{% else %}{{ config.base_url | safe }}public/favicon.png{% endif %}" />
  <meta property="twitter:title" content="
    {% if page.title %}
      {% if page.title == "Home" %}
        {{ config.title }} &middot; Home
      {% else %}
        {{ page.title }} &middot; {{ config.title }}
      {% endif %}
    {% elif section.title %}
      {{ section.title }} &middot; {{ config.title }}
    {% else %}
      {{ config.title }}
    {% endif %}
  "/>
</head>

